* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  transition: grid-template-columns 0.3s ease-in-out;
}

.sidebar {
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.container.menu-closed {
  grid-template-columns: 0 1fr;
}

.subjects-list {
  width: 220px;
  padding: 0;
  margin: 0;
}

.subject-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subject-item:hover {
  background-color: #007bff;
  color: #fff;
}

.subject-item h2 {
  margin: 0;
  font-size: 1.2em;
}

.group-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  display: none;
  transition: max-height 0.3s ease-out;
}

.group-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.group-item:hover {
  background-color: #e9e9e9;
  transform: scale(1.05);
}

.group-item h3 {
  margin: 0;
  font-size: 1em;
  color: #007bff;
}

header {
  grid-column: 1 / -1;
  background: #066bc281;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

p{
  font-weight: bold;
}

.header-title {
  font-size: 24px;
  color: #333;
  flex-grow: 1;  /* Чтобы текст занимал доступное пространство */
  text-align: center;
}

.menu-toggle {
  position: absolute;
  top: 50px;
  margin-left: 20px;
  margin-top: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
}

.sidebar1 {
  background: #066bc281;
  color: #000000;
  overflow-y: auto;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.container.menu-closed .menu-toggle {
  left: 10px;
}

.container:not(.menu-closed) .menu-toggle {
  left: 260px; /* Ширина меню + отступ */
}

.sidebar ul, .sidebar a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: color 0.3s;
}

.sidebar1 a:hover {
  color: #f1f1f1;
}

.sidebar1.hidden {
  transform: translateX(-100%);
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  padding: 15px;
  background: #e9e9e9;
  height: 100%;
  overflow-y: auto;
}

.table-container {
  background: #d0d0d0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.analysis-tools {
  background: #066ac281;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.tool-icon {
  margin: 10px 0;
  text-align: center;
  width: 40px;
  height: 40px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-icon button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tool-icon button:hover {
  background: #ccc;
}